* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333;
  /* color: #f2f2f2; */
  color: #efefef;
  line-height: 1.4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}
.container {
  display: flex;
  flex-direction: column;
  place-content: center;
  margin-inline: auto;
  min-height: 100vh;
  width: min(40em, 90%);
}
.header {
  text-align: center;
}
.budget {
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(78, 78, 78);
}
.budget__wrapper {
  display: flex;
  width: 60%;
  margin-bottom: 1em;
}
.budget__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5em;
  margin-block: 1em;
  padding: 1em;
  background-color: rgb(79, 176, 176);
}

.budget__list-details {
  display: flex;

  min-width: 45%;
}
.btn {
  display: inline-block;
  padding: 0.3em 0.6em;
  border: 1px solid #694ae9;
  margin-left: 1em;
  border-radius: 0.5em;
  color: #fff;
  background-color: transparent;
}

/* global classes */
.disabled {
  background-color: #2e2e2e;
  color: #727272ae;
}
.input-wrapper {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 100%;
}
ol,
ul {
  list-style-type: none;
}
ul:not(:last-of-type) {
  margin-right: 1em;
}
.inp-expense-cost {
  margin-left: 1em;
}
.inp {
  width: 70%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}
.inp::placeholder {
  color: #9e9ea7;
}
.inp:focus,
.inp:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
.btn-delete,
.btn-edit {
  border: 1px solid #333;
  font-family: inherit;
}
